<!-
bodyの中だけで良い
しかもスタイルシート(scss)を読み込むって文もいらない(helloコントローラのスタイルシートは /assets/stylesheets/hello.scss という風に決まっているため) 
ちなみに, erbはEmbedded Rubyの略で, HTMLタグの中にRubyのコードを埋め込んで実行できるやつ

↓ class="display-1"の部分でBootstrapを使っている
"form-control", 
-!>

<h1 class="display-4"> <%= @title%></h1>
<p> <%= @msg %></p>

<%= form_tag( controller: "hello", action: "index14" ) do %>
    <%= select_tag("s1", options_for_select(["Windows", "macOS", "Linux"]),  { size:5, multiple:true, class:"form-control"} ) %>
    <%= label_tag("s1", "Select radio button") %> <br>

    <%= submit_tag("Click", {class:"btn btn-primary"}) %>
<% end %>



